[submodule "ThirdParty/flatbuffers"]
	path = ThirdParty/flatbuffers
	url = git@github.com:google/flatbuffers.git
[submodule "ThirdParty/lua"]
	path = ThirdParty/lua
	url = git@github.com:lua/lua.git
[submodule "ThirdParty/cxxopts"]
	path = ThirdParty/cxxopts
	url = git@github.com:jarro2783/cxxopts.git
[submodule "ThirdParty/spdlog"]
	path = ThirdParty/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "ThirdParty/mathfu"]
	path = ThirdParty/mathfu
	url = git@github.com:google/mathfu.git
