[submodule "ThirdParty/flatbuffers"]
	path = ThirdParty/flatbuffers
	url = git@github.com:google/flatbuffers.git
[submodule "ThirdParty/lua"]
	path = ThirdParty/lua
	url = git@github.com:lua/lua.git
[submodule "ThirdParty/cxxopts"]
	path = ThirdParty/cxxopts
	url = git@github.com:jarro2783/cxxopts.git
[submodule "ThirdParty/spdlog"]
	path = ThirdParty/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "ThirdParty/mathfu"]
	path = ThirdParty/mathfu
	url = git@github.com:google/mathfu.git
[submodule "ThirdParty/sdl2"]
	path = ThirdParty/sdl2
	url = git@github.com:davidsiaw/SDL2.git
[submodule "ThirdParty/nuklear"]
	path = ThirdParty/nuklear
	url = git@github.com:vurtun/nuklear.git
[submodule "ThirdParty/vcache_optimizer"]
	path = ThirdParty/vcache_optimizer
	url = git@github.com:dv1/vcache_optimizer.git
[submodule "ThirdParty/meshoptimizer"]
	path = ThirdParty/meshoptimizer
	url = https://github.com/zeux/meshoptimizer.git
[submodule "ThirdParty/amd-tootle"]
	path = ThirdParty/amd-tootle
	url = git@github.com:GPUOpen-Tools/amd-tootle.git
[submodule "ThirdParty/microprofile"]
	path = ThirdParty/microprofile
	url = git@github.com:jonasmr/microprofile.git
[submodule "ThirdParty/tbb"]
	path = ThirdParty/tbb
	url = git@github.com:01org/tbb.git
[submodule "ThirdParty/gli"]
	path = ThirdParty/gli
	url = git@github.com:g-truc/gli.git
[submodule "ThirdParty/glm"]
	path = ThirdParty/glm
	url = git@github.com:g-truc/glm.git
