version: '{build}'
branches:
  only:
  - master
skip_tags: true
image: Visual Studio 2017
platform: x64
configuration: Release
init:
  - git config --global core.autocrlf true
install:
  - ps: (Get-Content CMakeLists.txt).replace("git@github.com:","https://github.com/") | Set-Content CMakeLists.txt
  - ps: md installs
  - ps: cd installs
  - ps: Start-FileDownload "http://download.autodesk.com/us/fbx/2018/2018.1.1/fbx20181_1_fbxsdk_vs2015_win.exe" "fbxsdk.exe"
  - ps: Start-Process -FilePath "fbxsdk.exe" /S -Wait
  - ps: Start-FileDownload "https://www.python.org/ftp/python/3.6.4/python-3.6.4-amd64.exe" "python364.exe"
  - ps: Start-Process -FilePath "python364.exe" /S -Wait
  - ps: cd ..
before_build:
  - cmake -G "Visual Studio 15 2017 Win64" -Bbuild_msvc -H. -DBUILD_FOLDER_SUFFIX:STRING=build_msvc -DFBX_SDK_INCLUDE_DIR="C:/Program Files/Autodesk/FBX/FBX SDK/2018.1.1/include" -DFBX_SDK_LIBRARY_DEBUG="C:/Program Files/Autodesk/FBX/FBX SDK/2018.1.1/lib/vs2015/x64/debug/libfbxsdk-md.lib" -DFBX_SDK_LIBRARY_RELEASE="C:/Program Files/Autodesk/FBX/FBX SDK/2018.1.1/lib/vs2015/x64/release/libfbxsdk-md.lib"
build:
  project: build_msvc/FbxPipeline.sln
  parallel: true
  verbosity: minimal
notifications:
- provider: Email
  to:
    - vlad.serhiienko@gmail.com
  subject: FbxPipeline build {{buildVersion}} - {{status}}
  on_build_success: false
  on_build_failure: true
  on_build_status_changed: true